body {
    background-image: url('images/aapje\ start.jpg');
  }

  .image-button {
    display: inline-block;
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    position: relative;
  }
  
  .image-button img {
    display: block; 
    width: 550px; 
    height: auto; 
    position: absolute;
    bottom: 350px;
    left: 50px;
  }
  